.follow-icon {
    width: 120px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--gold);
    color: var(--gold);
}