.story-slider {
    display: flex;
    justify-content: space-between;
    .slide {
        .border {
            position: relative;
            border: double 3px transparent;
            border-radius: 20px;
            background-image: var(--story);
            background-origin: border-box;
            background-clip: content-box, border-box;
            display: inline-block;
            width: 100%;
            aspect-ratio: 1/1;
        }
        img {
            width: calc(100% - 4px);
            aspect-ratio: 1/1;
            margin: 2px 2px 2px 2px;
            border-radius: 16px;
            vertical-align: middle;
        }

        span {
            display: block;
            text-align: center;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}