.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    .login-outer {
        width: 100%;
        max-width: 1200px;
        display: flex;
        gap: 50px;
        .Content-box {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: calc(50% - 25px);
            align-items: center;
            color: #ffffff;
            p {
                font-size: 14px;
                line-height: 18px;
                text-align: center;
            }
            b {
                color: #000000;
            }
        }
        .login-box {
            width: calc(50% - 25px);
            background-color: #fff;
            margin: 0 50px;
            padding: 30px;
            border-radius: 30px;
            .input-field {
                position: relative;
                input {
                    width: 100%;
                    padding: 5px 10px 5px 40px;
                    border-radius: 10px;
                    font-size: 14px;
                    border: 1px solid var(--gold);
                    color: var(--gold);
                    font-weight: 600;
                    outline: none;
                }
                button {
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 10px;
                    border: 1px solid var(--gold);
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: var(--gold);
                }
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            p {
                margin-top: 20px;
                text-align: center;
                span {
                    font-weight: 700;
                    color: var(--gold);
                }
            }
        }
    }
}

.login-page::before {
    content: "";
    background-image: url(https://demourls.xyz/Pulse-development/img/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}